data_preprocessing/vosk/vosk-model-en-us-0.22


#All videos and transcripts data
data/text/hate_video_transcripts/*
data/videos/hate_videos/*
data/text/non_hate_video_transcripts/*
data/videos/non_hate_videos/*
data/HateMM_annotation.csv
data/Sample_data
data/images/Dataset_Images/*
data/images/Dataset_Images_non_hate_videos/*
data/VITF/*

*/.DS_Store
*/__pycache__
.DS_Store

# Editor Metadata files
venv
Hate-Video-Classification.code-workspace